extends layout

block content
  h3  A blog with user authentication build with Node.js/Express with Pug templete engine,  
      | Mongoose and Passport with passport-local-mongoose strategy.
  //-br
  if mes
   p.imp #{mes}
  p You can change your browser window width to 
    |see adaptiveness of design, register, make posts and view and comment them by clicking on respective links.
  h3 All posts:
  if posts
    //-ul
    for post in posts
      //-li
      include post.pug


