*{
  box-sizing: border-box;
}
html, body {
  /*height: 100%;*/
  margin: 0;
  font-size: 14px;
  font-family:  Helvetica, sans-serif;
}
.contentt{
  width: 350px;
  height: 80px;
}
.con1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.container {
  max-width: 900px;
  background-color: rgb(251, 251, 251);
  min-height:100vh;/*all wievport */
    /*height: 100%;*/
    padding: 0px 10px;
    padding-bottom: 9px;
}
/*.content {}*/
.post {
  border: 1px solid black;
  margin :2px;
  padding: 4px;
  padding-left: 6px;
  margin-left: 5px;
  background-color: rgba(179, 179, 179, 0.1);
 
}
/*
.post-content{
  max-width:100%;
}
*/
.post-content img{
  width:100%;
  }
.comment {
  border: 1px solid black;
  margin :0px;
  padding: 0px;
  padding-left: 11px;
  padding-right: 0px;
  margin-left: 0px;
  background-color: rgba(161, 161, 161, 0.1);
  border-collapse: separate;
}
.author {
  color: rgb(56, 40, 3);
}
.author-user {
  color: rgb(176, 122, 7);
}
/*
.comform{
  visibility: hidden;
}
*/
/*
.content>div:not(.comment){
  padding: 0px 10px;
}
*/
.navbar-header{
  max-width: 900px;
  background-color: rgb(232, 232, 232);
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:1;
}
.navbar-header, .container{
  float: left;
  width: 100%;
}
.navbar-right{
  float: right;
}
.navbar-left{
  float: left;
}
.navbar-header a {
  float: left;
  color: #601515;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 17px;
 /* background-color: rgba(239, 248, 250, 0.956);*/
}
/*.navbar-header a:not(#great):hover {*/
.navbar-header a:hover {
  background-color: rgb(210, 210, 210);
}
.p1{
  border-right: 1px solid black;
}
.p2{
  border-left: 1px solid black;
}
.imp{
  color: #700b0b;
}
.err{
  color: #cf2929;
}
.navbar-header #great{
  font-weight: 700;
  color: #ce1919;
}

@media screen and (max-width: 600px) {
  .navbar-header{
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
    border: 0px solid black;
   /* box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);*/
  }
  .navbar-right{
    float: left;
    display: flex;
    flex-direction: column;
  }
  .navbar-left{
    float: left;
    display: flex;
    flex-direction: column;
  }
  .p1, .p2{
    border: 0px solid rgb(211, 33, 33);
  }
  .container {
    max-width: 900px;
    background-color: rgb(251, 251, 251);
    min-height:100vh;/*all wievport */
      /*height: 100%;*/
      padding: 0px 3px;
  }
  .comment {
    border: 1px solid black;
    margin :0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 0px;
    margin-left: 0px;
    background-color: rgba(179, 179, 179, 0.1);
    border-collapse: separate;
  }
}

/* .form {
  position: relative;
} 
*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#cont {
    position: relative;
    height:  50px;
}
form i {
position: absolute;
  top: 10px;
/*  left: 240px; */
/*    margin-left: 240px; */
    cursor: pointer;
    z-index: 2;
}